<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>QuickMafs</title>
    <link rel="icon" href="/img/qm_icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="font_merri" style="padding-left: 5px;margin-right: -25px;">
<div class="container">
    <div id="header" class="row align-items-center">
        <img id="logo" src="/img/Logo.png" onclick="window.location.href='/'" alt="QuickMafs" style="cursor: pointer;">
        <button type="button"  class="btn" style="background-color: rgb(69, 167, 167);" id="btn_rd" onclick="ready()">ready</button>

    </div>
    <div class="container row padding-0" id="game_header" >
        <div class="col-1 padding-0" id="time">
            <img id="alarm" src="/img/alarm.png" alt="alarm">
            <span id="timer">100</span>
        </div>
        <div class="col-1 separator" id="round">
            <div><strong>Round</strong></div>
            <strong><span id="n_round">x</span><span>/5</span></strong>
        </div>
        <div class="col-2 separator">
            <div><strong id="p1">Player</strong></div>
            <button class="c_time" id="c1" onclick="ask_op(1)">chrono</button> 
        </div>
        <div class="col-2 separator">
            <div><strong id="p2">Player</strong></div>
            <button class="c_time" id="c2" onclick="ask_op(2)">chrono</button>
        </div>
        <div class="col-2 separator">
            <div><strong id="p3">Player</strong></div>
            <button class="c_time" id="c3" onclick="ask_op(3)">chrono</button>
        </div>
        <div class="col-2 separator">
            <div><strong id="p4">Player</strong></div>
            <button class="c_time" id="c4" onclick="ask_op(4)">chrono</button>
        </div>
        <div class="col-2 separator">
            <div><strong id="p5">Player</strong></div>
            <button class="c_time" id="c5" onclick="ask_op(5)">chrono</button>
        </div>


    </div>
    <button onclick="roll()"> test</button>
    <div class="container row padding-0" id="game">

            <div class="col-sm-8 padding-0">
                <div class="container " id="board">
                    
                    <div class="top-left">
                        <div class="custom_font"  style="font-size:x-large;">Operations :</div><br>
                        <div id="write_op"></div>
                    </div>

                    <div class="top-right">
                        
                        <div class="custom_font"  style="font-size:x-large;">
                            <div>Find : <span id="find" style="color: aliceblue;">?</span></div>
                            <div>Numbers :</div>
                            <div style="color: aliceblue;">
                                <div id="n_info">
                                    <table>
                                        <tr>
                                            <td>    <span class="ntab" id="s1">?</span>   </td>
                                            <td>    <span class="ntab" id="s2">?</span>  </td>
                                            <td>    <span class="ntab" id="s3">?</span>   </td>
                                            <td>    <span class="ntab" id="s4">?</span>   </td>
                                            <td>    <span class="ntab" id="s5">?</span>  </td>
                                        </tr>   
                                    </table>
         
                                </div> 
                            </div>
                               
                        </div>

                    </div>
                    <div class="bot">
                    <div style="margin: 0 auto; width: 50%"> 
                        <span class="custom_font" style="font-size:x-large;">Commands : </span>
                        <span id="commands"> &nbsp;</span>
                        <table>
                            <tr>
                                <td>    <button class="button" id="n1" onclick="nb_button(1)">?</button>     </td>
                                <td>    <button class="button" id="n2" onclick="nb_button(2)">?</button>     </td>
                                <td>    <button class="button" id="n3" onclick="nb_button(3)">?</button>     </td>
                                <td>    <button class="button" id="n4" onclick="nb_button(4)">?</button>     </td>
                                <td>    <button class="button" id="n5" onclick="nb_button(5)">?</button>     </td>
                            </tr>
                        </table>  
                        <table> 
                            <tr>
                                <td>    <button class="button" id="op1" onclick="op_button('+')">+</button>   </td>
                                <td>    <button class="button" id="op2" onclick="op_button('-')">-</button>  </td>
                                <td>    <button class="button" id="op3" onclick="op_button('*')">&times;</button>   </td>
                                <td>    <button class="button" id="op4" onclick="op_button('/')">/</button>   </td>
                            </tr>
                        </table> 
                        <div  style="padding-left: 80px;">
                            <table>
                                <tr>
                                    <td>    <button class="button" id="can" onclick="cancel_bt()">cancel</button></td>
                                    <td>    <button class="button" id="res" onclick="g_reset()">reset</button></td>
                                </tr>    

                            </table>
                        </div>
 
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 padding-0" id="chat">
                <div class="container" id="chat_display">
                    <h3 class="custom_font" style="color: black;">Chat</h3>
                    <section id="display_chat">   
                    </section>
                </div>

                <form action="/" method="post" id="send_msg" style="padding-left: 6px;">
                    <input type="text" name="message" id="message" placeholder="Type your messages here" autocomplete="off" style="width:98%"/>
                    <input type="submit" style="visibility: hidden;"/>
                </form>
            
                
            </div>
    </div>
</div><!-- game container -->


<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
      <div id="txt_cont">
        <div>
            <span class="close">&times;</span>
            <h4 id="n_p">Name</h4>
        </div><br>
        <div id="modal_t">
            text
        </div>
        <div id="g_info">
            <h3 id="find_s" style="color: rgb(158, 8, 8);">XX</h3>
            <div id="nums" style="font-size: larger;">nums</div>
        </div>

      </div>
  </div>
 
</div>  

    <script src="/js/socket.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/interface.js"></script>
    <script src="/js/modal.js"></script>
</body> 

</html>